node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.idea/email-echart-system.iml
/.idea/git_toolbox_prj.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
